<div class="contents row">

  <div class="container text-center">

    <div class="row">
      <% if user_signed_in? %>
        <% if @umamusumes.any? %> 
        <!--ユーザーがログインしていて、かつウマ娘が1人以上登録されている場合-->
          <% @umamusumes.each do |umamusume| %>
            <%= render partial: "umamusume", locals: { umamusume: umamusume } %>
          <% end %>
          
        <% else %>
        <!--ユーザーがログインしていて、かつウマ娘が1人も登録されていない場合-->
          <div class="col">
            <div class="card" style="width: 15rem;">
              <%= link_to(image_tag("管制室.png", class: "card-img-top", alt: "..."), root_path) %>
              <div class="card-body">
                <h5 class="card-title">登録済みのウマ娘がまだいないようです。</h5>
                <p>登録をしてみましょう！</p>
                <%= button_to "ウマ娘登録ページへ", new_umamusume_path, method: :get, class: "btn btn-primary", role: "button" %>
              </div>
            </div>
          </div>
        <% end %>

      <% else %>
      <!--ユーザーがログインしていない場合-->
        <div class="col">
          <div class="card" style="width: 15rem;">
            <%= link_to(image_tag("管制室.png", class: "card-img-top", alt: "..."), root_path) %>
            <div class="card-body">
              <h5 class="card-title">ユーザー登録をしてみましょう！</h5>
              <%= button_to "ユーザー新規登録", new_user_registration_path, method: :get, class: "btn btn-primary", role: "button" %>
              <%= button_to "ログイン", new_user_session_path,  class: "btn btn-primary", role: "button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>


