<% umamusume = current_user.umamusumes.find_by(name: "スペシャルウィーク") %>
  <% unless umamusume %>
  <div class="card" style="width: 18rem;">
    <%= image_tag("スペシャルウィーク（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
    <div class="card-body">
      <h5 class="card-title"><%= "スペシャルウィーク" %></h5>
        <%= button_to "この娘を登録する", umamusumes_path(
          umamusume: { name: "スペシャルウィーク", turf: "A", dirt: "G",
                       sprint: "F", mile: "C", intermediate: "A", long: "A"}),
                       method: :post, class: "btn btn-primary", role: "button" %>
  <% end %>
  </div>
</div>




<div class="card" style="width: 18rem;">
  <%= image_tag("サイレンススズカ（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
  <div class="card-body">
    <h5 class="card-title"><%= "サイレンススズカ" %></h5>
      <% umamusume = current_user.umamusumes.find_by(name: "サイレンススズカ") %>
      <% if umamusume %>
        <%= button_to "登録解除", umamusume_path(umamusume), method: :delete, class: "btn btn-primary", role: "button" %>
      <% else %>
    <h5 class="card-title"><%= "サイレンススズカ" %></h5>
      <%= button_to "この娘を登録する", umamusumes_path(
        umamusume: { name: "サイレンススズカ", turf: "A", dirt: "G",
                    sprint: "D", mile: "A", intermediate: "A", long: "E"}),
                    method: :post, class: "btn btn-primary", role: "button" %>
      <% end %>
  </div>
</div>



<div class="card" style="width: 18rem;">
  <%= image_tag("トウカイテイオー（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
  <div class="card-body">
    <h5 class="card-title"><%= "トウカイテイオー" %></h5>
      <% umamusume = current_user.umamusumes.find_by(name: "トウカイテイオー") %>
      <% if umamusume %>
        <%= button_to "登録解除", umamusume_path(umamusume), method: :delete, class: "btn btn-primary", role: "button" %>
      <% else %>
      <%= button_to "この娘を登録する", umamusumes_path(
        umamusume: { name: "トウカイテイオー", turf: "A", dirt: "G",
                     sprint: "F", mile: "E", intermediate: "A", long: "B" }),
                     method: :post, class: "btn btn-primary", role: "button" %>
      <% end %>
  </div>
</div>


<% umamusume = current_user.umamusumes.find_by(name: "マルゼンスキー") %>
  <% unless umamusume %>
  <div class="card" style="width: 18rem;">
    <%= image_tag("マルゼンスキー（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
    <div class="card-body">
      <h5 class="card-title"><%= "マルゼンスキー" %></h5>
        <%= button_to "この娘を登録する", umamusumes_path(
          umamusume: { name: "マルゼンスキー", turf: "A", dirt: "D",
                       sprint: "B", mile: "A", intermediate: "B", long: "C"}),
                       method: :post, class: "btn btn-primary", role: "button" %>
  <% end %>
  </div>
</div>