<div class="container text-center">
  <div><h1><%= @umamusume.name %>のトロフィー獲得状況</h1></div>
  <div><h3>総獲得数:<%= @umamusume.won_race_count %></h3></div>
  <% if @umamusume.won_race_count != @all_pattern_race %>
    <div><h3>全冠まであと<%= @all_pattern_race - @umamusume.won_race_count %>レース</h3></div>
  <% end %>
  <ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item">G1<p><%= @umamusume.won_g1_count %>/<%= @g1_count %></p></li>
    <li class="list-group-item">G2<p><%= @umamusume.won_g2_count %>/<%= @g2_count %></p></li>
    <li class="list-group-item">G3<p><%= @umamusume.won_g3_count %>/<%= @g3_count %></p></li>
    <li class="list-group-item">EX</li>
  </ul>

  <%= render partial: "shared/calendar_section", locals: { title: "ジュニア級", period: "junior", target_races: @target_races } %>

  <%= render partial: "shared/calendar_section", locals: { title: "クラシック級", period: "classic", target_races: @target_races } %>
  
  <%= render partial: "shared/calendar_section", locals: { title: "シニア級", period: "senior", target_races: @target_races } %>
  
  <div class="row">
    <% @races.each do |race| %>
      <div class="col-md-4 my-custom-col">
        <div class="card text-center mb-4">
          <% if race.surface == "芝" %>
            <%= link_to(image_tag("芝#{race.grade}トロフィー.jpg", class: "card-img-top", alt: "...", style: "max-width: 15%; height: auto;"), "#") if @umamusume.won_race?(race) %>
          <% else %>
            <%= link_to(image_tag("ダート#{race.grade}トロフィー.jpg", class: "card-img-top", alt: "...", style: "max-width: 15%; height: auto;"), "#") if @umamusume.won_race?(race) %>
          <% end %>
          <div class="card-body">
            <h6 class="card-title"><%= race.name %></h5>
            <p class="card-text"></p>
            <% if @umamusume.won_race?(race) %>
              <%= button_to "解除", umamusume_race_path(@umamusume, race), method: :delete, class: "btn btn-primary", role: "button" %>
            <% else %>
              <%= button_to "登録", umamusume_races_path(@umamusume, race_id: race.id), method: :post, class: "btn btn-primary", role: "button" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>