<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("フェブラリーステークス.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">フェブラリーステークス<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("高松宮記念.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">高松宮記念<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("大阪杯.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">大阪杯<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
    </div>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("高松宮記念.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">高松宮記念<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("高松宮記念.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">高松宮記念<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 10rem;">
        <%= link_to(image_tag("高松宮記念.png", class: "card-img-top", alt: "..."), root_path) %>
        <div class="card-body">
          <h5 class="card-title">高松宮記念<%#= umamusume.name %></h5>
          <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
          <%= button_to "詳細", "#", method: :get, class: "btn btn-primary", role: "button" %>
          <%= button_to "登録解除", "#", method: :delete, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>


<%#= image_tag("#{@umamusume.name}（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
<%#= @umamusume.name %>