<!DOCTYPE html>
<html>
  <head>
    <title>UmamusumeCrownComplete</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <%= link_to 'ウマ娘全冠支援ツール', root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to "ウマ娘登録ページ", new_umamusume_path, method: :get, class: "btn btn-primary", role: "button" %>
            </li>
            <li class="nav-item">
              <%= button_to "サポカ管理", "#", class: "btn btn-info", role: "button" %>
            </li>
              <li class="nav-item">
                <%#= link_to "トレーナー名刺", "#", class: "nav-link active", "aria-current" => "page" #%>
                <%= button_to "トレーナー名刺", "#", method: :delete, "aria-current" => "page", class: "btn btn-info", role: "button" %>
              </li>          
              <li class="nav-item">
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark", role: "button" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", user_session_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <%= yield %>

    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <p class="text-muted">このサイトで表示されているダートG1・G2・G3トロフィーのクレジット</p>
        <p>
          <a href="https://jp.freepik.com/free-vector/glass-trophy-or-acrylic-winner-award-realistic_6055213.htm#query=%E3%83%88%E3%83%AD%E3%83%95%E3%82%A3%E3%83%BC&position=3&from_view=search&track=sph">
            著作者：upklyak
          </a>
          ／出典：Freepik
        </p>
      </div>
    </footer>
  </body>
</html>
